body,
html {
  height: 100%;
}

.avatar {
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.benefit + .benefit,
.responsibility + .responsibility,
.requirement + .requirement {
  margin-top: 1rem;
}

form {
  min-width: 400px;
}
