{% extends "base.html" %} 

{% load static %}

{% block title %} Jobs {% endblock %}

{% block content %}
  
  {% include "navbar.html" %} 
  
  <div class="container d-flex justify-content-center p-4 min-vh-100">
    <div class="row gap-3" style="height: min-content;">
      <h2 class="text-center mb-5">Cadastrar Vaga</h2>

      <div>
        <form id="vacancy-form">
          {% csrf_token %}

          <div class="mb-3">
            <label for="title" class="form-label">Título:</label>
            <input type="text" id="title" name="title" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Descrição:</label>
            <textarea id="description" name="description" class="form-control" required></textarea>
          </div> 

          <h3 class="fs-4">Benefícios</h3>
          <div id="benefits" class="mb-3">
              <div class="benefit">
                  <label for="benefit-title" class="form-label">Título:</label>
                  <input type="text" class="benefit-title form-control">
                  <label for="benefit-description" class="form-label">Descrição:</label>
                  <textarea class="benefit-description form-control"></textarea>
              </div>
          </div>
          <button type="button" class="btn btn-secondary mb-4 add-benefit">Adicionar Benefício</button>

          <h3>Responsabilidades</h3>
          <div id="responsibilities" class="mb-3">
              <div class="responsibility">
                  <label for="responsibility-title" class="form-label">Título:</label>
                  <input type="text" class="responsibility-title form-control">
                  <label for="responsibility-description" class="form-label">Descrição:</label>
                  <textarea class="responsibility-description form-control"></textarea>
              </div>
          </div>
          <button type="button" class="btn btn-secondary mb-4 add-responsability">Adicionar Responsabilidade</button>

          <h3>Requerimentos</h3>
          <div id="requirements" class="mb-3">
              <div class="requirement">
                  <label for="requirement-title" class="form-label">Título:</label>
                  <input type="text" class="requirement-title form-control">
                  <label for="requirement-description" class="form-label">Descrição:</label>
                  <textarea class="requirement-description form-control"></textarea>
              </div>
          </div>
          <button type="button" class="btn btn-secondary mb-4 add-requeriment">Adicionar Requerimento</button>

          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>

        <div id="response"></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="register-vacancy-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{% static 'js/register-vacancy.js' %}"></script>
{% endblock %}
